<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfolio</title>

        <link rel="stylesheet" href="/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/landing_page/slideshow.css">
        <link rel="stylesheet" href="/css/landing_page/styles.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>

    <body>
        <div class="slideshow">
            <div class="slideshow-content">
                <div class="slideshow-images">
                    <div class="slideshow-image image-1">
                        <div class="slide-content">
                            <h1>Slideshow</h1>
                        </div>
                    </div>
                    <div class="slideshow-image image-2">
                        <div class="slide-content">
                            <h1>Slideshow</h1>
                        </div>
                    </div>
                    <div class="slideshow-image image-3">
                        <div class="slide-content">
                            <h1>Slideshow</h1>
                        </div>
                    </div>
                    <div class="slideshow-image image-4">
                        <div class="slide-content">
                            <h1>Slideshow</h1>
                        </div>
                    </div>
                </div>
                <div class="slideshow-navigators" id="ss-navs">
                    <span class="navigate-prev" id="prev-slide">
                        <i class="fas fa-backward" id="prev-slide-btn"></i>
                    </span>
                    <span class="navigate-next" id="next-slide">
                        <i class="fas fa-forward" id="next-slide-btn"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="container main">
            <a href="/login" class="btn btn-primary login-btn">LOG IN</a>
        </div>
    </body>

    <script src="/js/landing_page/slideshow.js"></script>
    {{!-- <script src="/dist/jquery.js"></script>
    <script src="/dist/jquery.min.js"></script> --}}

</html>
