<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portflio -Login</title>

        {{!-- <link rel="stylesheet" href="/css/bootstrap.css"> --}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <form action="/user/register" method="POST">
                        <div class="form-group row">
                            <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstName" name="first_name" placeholder="First Name..." required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Last Name..." required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" name="email" placeholder="email@example.com   " required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password..." required>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="col btn btn-outline-secondary">REGISTER</button>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <form method="POST" action="/user/login">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="check">
                            <label class="form-check-label" for="check">Keep login for 10 days</label>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">LOG IN</button>
                    </form>
                    {{!-- <form method="POST" action="/login/google">
                        <input type="submit" / >
                    </form> --}}
                    <button id="google_signin" onclick="googleSignIn()">Sign In with Google</button>
                </div>
            </div>
        </div>
    </body>

</html>